body{
    background-color: gray;
    margin: 0px;
    border: 0px;
}
.input{
    width: 20vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    /* justify-content: flex-start; */
    align-items: flex-start;
    font-family: sans-serif;
    position: relative;
    left: 10px;
}
.input label{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.input input{
    display: inline-block;
    border: 0px;
    width: 90%;
    
}
.input input:focus{
    outline: none;
}

#input-container1{
    width: 100%;
    height: 50%;
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-top: 1px solid grey;
    border-bottom:1px solid grey; ;
}
#input-container1 div{
    width: 100%;
    height: 100%;
}
#input-container2{
    width: 100%;
    height: 50%; 
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-top: 1px solid black; */
    border-bottom:1px solid grey; ;
}
#input-container2 div{
    width: 50%;
    height: 100%;
}
#input-container{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#app_container{
    background-color: white;
    width: 70vw;
    height:auto;
    margin: auto;
    text-align: center;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: space-between;

}

#button-container{
    width: 60vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: auto;
    position: relative;
    left: 5px;
    border-bottom: 1px solid grey;
    margin-top: 30px;
    

}
.button{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button button{
    /* border: 0px; */
    width: 45%;
    height: 80%;
    /* margin-bottom: 10px; */
}
button a{
    color:white;
    text-decoration: none;
}
#output-container{
    /* overflow-y: scroll; */
    width: 100%;
    height: 30%;
}
#output-list{
    width: 60vw;
    height: auto;
    margin: auto;
    padding-right: 10px;
}
#output-list li{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    
}
#output-list li input{
    display: block;
    width: 15%;
}
/* #output-list li span{
    display: block;
} */

.task-and-date-container{
    width: 60%;
    height:100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.task-and-date-container span{
    display: block;
    width: 100%;
    height: 50%;
    text-align: left;
}
.category-container{
    width: 15%;
    height: 80%;

}
.category-container span{
    width: 100%;
    height: 100%;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}